body {
  margin: 0%;
  padding: 0%;
  border: 0%;
  font-family: 'Permanent Marker', sans-serif;
  background: black;
}

/*---css for nav overlay---*/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
  overflow-y: hidden;
  transition: 0.5s
}

.overlay-content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #635f60;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ffab36;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (min-width: 300px){
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 25px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.hamburger {
position:top;
font-size:30px;
cursor:pointer;
color:orange;
/*color:white;*/
float:right;
padding: 10px;
width: 50px;

}

/*---end of css nav overlay---*/

/*---landing page video---*/

.video-fluid {
  width: 100%;
  height: auto;
}

.introtext {
  color: orange;
  padding: 20px;
}

.title {
  color: black;
  font-size: 45px;
  background-color: orange;
}

/*---about page--- */

/*---dying light description---*/

.content {
	color: orange;
	padding: 25px;
	background-image:black;
	text-align: center;
}

/*---about header img---*/
img {
  width: 100%;
}

/*<!-----section heading for Scavange, survive & skill-up section----->*/

.second-section-heading {
  color: black;
  font-size: 45px;
  background-color: orange;
}

/*---stylings for cards---*/

.card-title {
  color: orange;
  text-align: center;
  font-size: 25px;

}

.card-text {
   text-align: center;
   font-size: 20px;


}
/*---section heading for expansion pack---*/

.heading-expansion-pack {
 color: black;
  font-size: 45px;
  background-color: orange;
}

/*---expansion pack picture link---*/

.card-expansion-pack {
  pointer: cursor;
}

/*---section heading for gallery---*/

.heading-photo-gallery {
  color: black;
  font-size: 45px;
  background-color: orange;
}

/*---buy now page---*/

/*---header img---*/
  img {
    width: 100%;
  }

/*---buy now header styling---*/

.buynow {
  text-align: center;
  color: white;
  text-transform: capitalize;
  background: orange;
  color: black;
  padding: 10px;
  display: justify;
  margin-top: 30px;
  margin-bottom: 30px;
  font: 15px;
}


/*<!-----buttons for buying the game on different platforms----->*/

a {
  color: orange;
}


/*---buy now button styling---*/

.btn-group button {
  background-color: black; 
  border: 1px solid black;
  padding: 10px; 
  float: left; 
  width: 50%;
  margin-top: 1px;
  cursor: pointer;
}


.btn-group:after {
  content: "";
  clear: both;
  display: inline-block;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

/*---parallax---*/

body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('https://mp1st.com/wp-content/uploads/2019/09/Dying-Light-2-Post-Launch-Support.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for phones. */
@media only screen and (max-device-width: 750px) {
  .parallax {
    background-attachment: scroll;
    /*background-color: black;*/
    /*background-image: none;*/
  }
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* social media icons*/

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}


.youtube {
  background: #bb0000;
  color: white;
}


/*<!-----subscription----->*/

.sub {
  text-align: center;
  color: white;
  text-transform: capitalize;
  background: orange;
  color: black;
  padding: 10px;
  display: justify;
  margin-top: 30px;
  font: 15px;
  
}

/*----subscription format email---*/

.form-group {
  padding: 20px;
}

/*---submit button---*/
.submit-btn {
  pointer:"cursor";
}

.container {
  text-align: center;
}

/*---footer styling---*/

.footer-buynow {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: left;
   padding: 10px
}

.rating {
  margin: 40px;
  margin-bottom: 15px;
  width: 50%;
  margin-left: 25%;
}

.privacy-links {
  color: orange;
  text-align: center;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;

}

.textcopyright {
  color: white;
  text-align: center;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
}
